body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 80px 120px;
}


.header{
    transform: scale(1.15,1.15);
}
 .dark-theme {
    --styled-select-menu-outer__margin: 10px 0 0 0;
    --styled-select-menu-outer__padding: 0;
    --styled-select-menu-outer__background-color: #555;
    --styled-select-menu-outer__border-color: black;
    --styled-select-menu-outer__border-style: solid;
    --styled-select-menu-outer__border-width: 3px;
    --styled-select-placeholder__font-size: 1.25em;
    --styled-select-value__max-width: 100%;

 }
 .carousel-inner img {

    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h1 {
    position: relative;
    bottom: 500px;
    left: 100px;
    font-size: 4em !important;
    color: #fff !important;
}

.carousel-caption h3 {
    position: relative;
    bottom: 500px;
    left: 100px;
    font-size: 2em !important;
    color: #fff !important;
}

.bg-1 {
    background: #2d2d30; 
    color: #bdbdbd;
    height: 600px;
    width: 100%; /* Set width to 100% */
}
.bg-1 h3 {color: #fff;}

.bgSearch {
    height: 700px;
    width: 100%; /* Set width to 100% */
}


.navbar {
    background-color: #2d2d30;
    border: 0;
    font-size: 1.5em;
    letter-spacing: 4px;
    opacity:0.9;
    margin: 5px;
    margin-top: 20px;
}


.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

.searchForm{
    position: relative;
    top: 200px;
    left: 6%;
    transform: scale(1.5, 1.5)
}

.inventory{
    position: relative;
    right: 7%;
    top: 50px;
    font-size: 1.25em;
}

.fullPage{
    font-size: 2em;
}

.nav-tabs{
    font-size: 1.5em;
}


.canMake {
    font-size: 1.5em;
}

.searchBtn{
    position: relative;
    right: 5px;
}