.container{
    padding: 80px 120px;
}


.header{
    transform: scale(1.15,1.15);
}
 .dark-theme {
    --styled-select-menu-outer__margin: 10px 0 0 0;
    --styled-select-menu-outer__padding: 0;
    --styled-select-menu-outer__background-color: #555;
    --styled-select-menu-outer__border-color: black;
    --styled-select-menu-outer__border-style: solid;
    --styled-select-menu-outer__border-width: 3px;
    --styled-select-placeholder__font-size: 1.25em;
    --styled-select-value__max-width: 100%;

 }
 .carousel-inner img {

    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h1 {
    color: #fff !important;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
    height: 600px;
}
.bg-1 h3 {color: #fff;}

.bgSearch {
    height: 500px;
}
